@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
:root {
  --font-size-xs: .75rem;
  --font-size-sm: .875rem;
  --font-size-base: 1rem;
  --font-size-basePlus: 1.2rem;
  --font-size-l: 1.3rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  --text-color-whitesmoke: whitesmoke;
  --text-color-purple: #9795b5;
  --text-color-purple-brighter: #b0aed0;
  --text-color-purple-2: #040404;
  --text-color-gray: #3a3a3a;
  --color-primary: #5d5a88;
  --color-primary-brighter: #7d78aa;
  --color-secondary: #ff9000;
  --background-color: #242424;
  --page-background: linear-gradient(135deg, #242424, #3a3a3a);
  --background-color-cta: #9f95b3;
  --color-primary-lighter: ;
  --color-primary-darker: ;
  --color-secondary-lighter: ;
  --color-secondary-darker: ;
  --button-hover-background-color: var(--color-primary);
  --button-color: #ff9000;
  --font-primary: "Roboto", sans-serif;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --border-radius-xl: 24px;
  --border-radius-2xl: 36px;
  --border-radius-3xl: 44px;
  --border-radius-circle: 50%;
  --box-shadow-light: 0 2px 8px #0000001a;
  --box-shadow-dark: 0 4px 16px #0000004d;
  --input-text-color: #fff;
  --input-border-color: #444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--text-color-purple) !important;
}

body {
  background: var(--page-background);
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

section {
  border-bottom: 1px dotted var(--color-primary);
  width: 100vw;
  padding: 2rem 0;
}

p {
  filter: contrast(1.2);
}

ul {
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

li {
  color: var(--color-primary);
  list-style-type: none;
}

.list-ul a:hover {
  color: var(--button-color);
  cursor: pointer;
}

img {
  width: 100%;
}

button {
  border-radius: var(--border-radius-medium);
  background-color: var(--button-color);
  cursor: pointer;
  box-shadow: var(--box-shadow-dark);
  border: none;
  padding: 1rem;
  font-family: inherit;
  font-weight: 700;
  transition: all .33s;
  font-size: var(--font-size-l) !important;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

label {
  margin-bottom: .5em;
  font-weight: bold;
}

input, select {
  border-radius: var(--border-radius-small);
  padding: .7rem;
  font-size: 1em;
  border: 1px solid var(--text-color) !important;
}

header {
  border-bottom: 1px dotted var(--color-primary);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 5rem;
  padding: 1rem 2rem;
  display: flex;
}

.header-nav-container {
  align-self: flex-end !important;
}

.logo-container {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo {
  filter: contrast(1.4);
}

ul.header-nav-list {
  text-wrap: nowrap;
  align-items: center;
  gap: 2rem;
  list-style: none;
  display: flex;
}

.header-nav-item {
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--font-size-base);
  letter-spacing: 1px;
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  transition: color .3s, transform .3s;
  position: relative;
}

.nav-cta-btn:hover {
  color: var(--color-secondary) !important;
  background-color: #0000 !important;
}

.header-nav-item:hover {
  color: var(--color-secondary);
  transform: translateY(-1px);
}

.header-nav-item.active {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

@media (width <= 768px) {
  header {
    padding: 1rem;
  }

  .header-nav-item {
    font-size: var(--font-size-xs);
  }
}

.admin-section {
  padding: var(--spacing-large);
  font-family: var(--font-primary);
  font-size: var(--font-size-basePlus);
  min-height: 100vh;
  margin: 0 0 0 auto;
  position: relative;
  overflow: visible;
}

.admin-nav {
  background-color: var(--text-color-purple-brighter);
  z-index: 10;
  opacity: .4;
  border-radius: 15px;
  flex-direction: column;
  max-width: 16vw;
  max-height: 80vh;
  padding: 2rem 1rem;
  transition: opacity .3s;
  display: flex;
  position: fixed;
  top: 25vh;
  left: 0;
  box-shadow: 0 4px 6px #0000001a;
}

.admin-nav:hover {
  opacity: 1;
}

.admin-nav.logo-container {
  display: block;
}

.nav-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: var(--spacing-medium);
  margin: var(--spacing-small) 0;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  z-index: 20;
  border: none;
  font-weight: bold;
  transition: background-color .3s, color .3s, opacity .3s;
  position: relative;
}

.nav-button:after {
  content: attr(data-tooltip);
  background-color: var(--color-primary);
  color: var(--text-color-whitesmoke);
  font-size: var(--fon);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  border-radius: .3rem;
  padding: .2rem .5rem;
  transition: opacity .3s, transform .3s;
  position: absolute;
  top: 25%;
  left: 3rem;
  transform: translateY(-50%);
}

.nav-button:hover:after {
  opacity: 1;
  transform: translateY(-50%)translateX(.5rem);
}

.nav-button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: var(--box-shadow-light);
}

.nav-button.active {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}

.nav-button:hover svg, .nav-button.active svg {
  fill: var(--color-secondary);
}

.admin-section table {
  border-collapse: collapse;
  border: 3px solid var(--color-primary);
  table-layout: fixed;
  background-color: #eef0f5;
  max-width: 90%;
  margin: 1rem auto;
  font-weight: 700;
  transform: translateX(3vw);
}

.admin-section table th:first-child, .admin-section table td:first-child, .admin-section table th:nth-child(2), .admin-section table td:nth-child(2), .admin-section table th:nth-child(3), .admin-section table td:nth-child(3), .admin-section table th:nth-child(4), .admin-section table td:nth-child(4), .admin-section table th:nth-child(5), .admin-section table td:nth-child(5), .admin-section table th:nth-child(6), .admin-section table td:nth-child(6) {
  width: 6% !important;
}

thead {
  color: var(--color-primary);
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tr {
  white-space: nowrap;
  display: table-row;
}

th, td {
  border: 1px solid var(--color-primary);
  text-align: center;
  color: var(--color-primary);
  padding: .7rem;
}

td {
  text-align: left;
}

th {
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--font-size-l);
  background-color: var(--color-secondary);
  border-bottom: 3px solid var(--color-primary);
}

.action-button {
  justify-content: center;
  align-items: center;
  transition: background-color .3s, color .3s;
  display: inline-flex;
  position: relative;
  padding: .3rem .5rem !important;
}

.action-button path, .action-button circle {
  pointer-events: none !important;
}

.action-button:hover {
  background-color: var(--color-primary);
}

.action-button:hover svg {
  transition: fill .3s;
}

.action-button:after {
  content: attr(data-tooltip);
  background-color: var(--color-primary);
  color: var(--text-color-whitesmoke);
  font-size: var(--fon);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  border-radius: .3rem;
  padding: .2rem .5rem;
  transition: opacity .3s, transform .3s;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.action-button:hover:after {
  opacity: 1;
  transform: translateX(-50%)translateY(-4.5rem);
}

.action-button .edit-session {
  background-color: var(--color-primary) !important;
  color: var(--text-color-whitesmoke) !important;
}

.action-button:hover svg {
  fill: var(--color-secondary);
  transition: fill .3s;
}

.pagination-controls {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.pagination-btn {
  cursor: pointer;
  background-color: #0000;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: inline-flex;
}

.pagination-btn:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.pagination-btn svg {
  fill: var(--color-primary);
  filter: contrast(1.5);
  width: 2.5rem;
  height: 2.5rem;
  transition: fill .3s;
}

.pagination-btn:hover svg {
  fill: var(--color-secondary);
}

.pagination-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  opacity: .8;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  transition: transform .3s, background-color .3s, opacity .3s;
  display: flex;
}

.pagination-button.active {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  opacity: 1;
  transform: scale(1.2);
}

.pagination-button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  opacity: .9;
  transform: scale(1.1);
}

.pagination-button:focus {
  box-shadow: 0 0 5px var(--color-secondary);
  outline: none;
}

.pagination-info-container {
  margin-top: 1rem;
}

.pagination-info {
  font-size: var(--font-size-xl);
  color: var(--color-primary);
  font-weight: bold;
}

.company-container {
  grid-template-columns: 1fr 1.5fr;
  column-gap: 1rem;
  width: 90%;
  min-height: 500px;
  max-height: 700px;
  display: grid;
}

.company-div {
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  display: flex;
}

.company-image-div {
  background-blend-mode: overlay;
  border-radius: var(--border-radius-xl);
  background: url("Company section photo.e2fd0a76.jpg") 100% / cover no-repeat;
  grid-area: 1 / 2 / 2 / 3;
  overflow: hidden;
}

a .company-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.main-h1 {
  font-size: var(--font-size-3xl);
  text-align: left;
  color: var(--button-color) !important;
}

.company-h2 {
  font-size: var(--font-size-l);
  text-align: left;
}

.company-p {
  text-align: left;
  max-width: 300px;
  color: var(--text-color-purple);
  filter: contrast(1.2);
  margin-bottom: .8em;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.company-container > div:last-child {
  flex-grow: 1;
}

@media (width <= 768px) {
  .main-h1 {
    font-size: var(--font-size-2xl);
  }

  .company-p {
    font-size: var(--font-size-base);
  }
}

.cta-section {
  background: var(--background-color-cta);
  width: 100%;
  height: auto;
  margin: 40px;
  padding: 40px;
}

.cta-title, .cta-subtitle {
  filter: contrast(120%);
  max-width: 550px;
  margin: auto;
  color: var(--text-color-gray) !important;
}

.cta-subtitle {
  font-family: var(--font-primary);
  letter-spacing: .2px;
  font-weight: 400;
  line-height: 1.8rem;
}

.cta-section .cta-btn {
  border-radius: var(--border-radius-3xl);
  font-size: var(--font-size-xl);
  margin: 2em 0;
  font-weight: 700;
}

.cta-btn:hover {
  color: var(--text-color-whitesmoke);
  background-color: var(--color-primary);
}

@media (width <= 768px) {
  .cta-title {
    font-size: var(--font-size-l);
  }

  .cta-section .cta-btn {
    border-radius: var(--border-radius-3xl);
    text-rendering: optimizeLegibility;
    margin: 2em 0;
    font-weight: 600;
    transform: none;
    font-size: var(--font-size-base) !important;
  }
}

body.modal-open {
  overflow: hidden;
}

.form-overlay, .login-overlay {
  backdrop-filter: blur(6px);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  background-color: #000c;
  width: 100vw;
  height: 100vh;
  transition: opacity .3s;
  position: fixed;
  top: 0;
  left: 0;
}

.form-title {
  font-size: var(--font-size-xl);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.newAppointmentForm, .adminLoginModal {
  background-color: var(--background-color);
  border-radius: var(--border-radius-large);
  opacity: 0;
  z-index: 5000;
  flex-direction: column;
  gap: .5rem;
  max-width: 65vw;
  max-height: 80vh;
  padding: 2rem 5rem;
  transition: opacity .5s, transform .5s;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 24px #0000004d;
}

.newAppointmentForm::-webkit-scrollbar {
  width: 8px;
}

.adminLoginModal::-webkit-scrollbar {
  width: 8px;
}

.newAppointmentForm::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-medium);
  background: #0000004d;
}

.adminLoginModal::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-medium);
  background: #0000004d;
}

.newAppointmentForm::-webkit-scrollbar-thumb:hover {
  background: #00000080;
}

.adminLoginModal::-webkit-scrollbar-thumb:hover {
  background: #00000080;
}

.newAppointmentForm, .adminLoginModal {
  scrollbar-width: thin;
  scrollbar-color: #0000004d transparent;
}

.error-message {
  text-align: center;
  margin-top: -1rem;
  margin-bottom: .5rem;
  font-weight: bold;
  position: absolute;
  color: red !important;
  left: 50% !important;
  transform: translate(-50%, -300%) !important;
}

.newAppointmentForm input, .newAppointmentForm select, .newAppointmentForm option, .adminLoginModal input, .adminLoginModal select, .adminLoginModal option {
  border-radius: var(--border-radius-medium);
  color: #f1f3f5;
  background-color: #333;
  border: none;
  width: 100%;
  min-width: 60%;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 1rem;
  transition: all .3s;
}

.newAppointmentForm button, .adminLoginModal button {
  text-transform: uppercase;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  letter-spacing: 1px;
  border: none;
  margin-top: 1.5rem;
  font-weight: 800;
  transition: all .3s;
  font-size: var(--font-size-l) !important;
}

.newAppointmentForm input:focus, .newAppointmentForm select:focus, .adminLoginModal input:focus, .adminLoginModal select:focus {
  background-color: #444;
  outline: none;
}

.form-spinner-div, .spinner-div {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.spinner {
  border: 4px solid #0000001a;
  border-top: 4px solid var(--color-primary);
  border-radius: var(--border-radius-circle);
  width: 40px;
  height: 40px;
  animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  transition: opacity .5s, visibility 0s .5s;
  opacity: 0 !important;
}

.visible {
  pointer-events: auto;
  visibility: visible;
  transition: opacity .5s;
  opacity: 1 !important;
}

.hideSection {
  display: none;
}

#suggestions {
  border: 1px transparent #ccc;
  border-radius: var(--border-radius-medium);
  color: #000;
  z-index: 1000;
  background-color: #213547;
  width: 85%;
  margin: .1rem auto;
  display: none;
  overflow-y: scroll;
}

#streetAddress:focus + #suggestions {
  min-height: 100px;
  max-height: 500px;
  display: block;
}

.suggestion-item {
  cursor: pointer;
  border-top: 0 solid #fff;
  padding: 8px;
}

.suggestion-item:hover {
  background-color: #fff;
}

.notyf-confirmation {
  border-radius: var(--border-radius-medium);
  min-width: 80%;
  min-height: 50%;
  padding: 20px 30px;
  font-size: 1rem;
  background-color: #ff9000 !important;
}

.notyf-confirmation .notyf__icon {
  margin-right: 10px;
  font-size: 1rem;
}

.notyf-confirmation .notyf__message {
  color: #f5f5f5;
  font-size: 3rem;
  font-weight: 900;
}

input:focus, select:focus {
  border-color: #646cff;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: .9em;
  font-weight: bold;
}

.is-invalid {
  border-color: red;
}

.is-label-invalid {
  color: red;
}

.just-validate-error-label {
  color: red;
  background-color: #ff0;
}

.zigzag-row {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  display: grid;
}

.zigzag-item {
  border-radius: var(--border-radius-large);
  text-align: left;
  padding: 1.5rem;
  transition: transform .3s;
}

.zigzag-item h3 {
  line-height: normal;
  font-size: var(--font-size-2xl);
  text-align: center;
}

.zigzag-item p {
  font-family: var(--font-primary);
  font-size: var(--font-size-basePlus);
  text-align: center;
}

.zigzag-item img {
  border-radius: var(--border-radius-3xl);
}

.zigzag-item.text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2.8rem;
  display: flex;
}

.zigzag-item:hover {
  transform: translateY(-5px);
}

@media (width <= 425px) {
  .zigzag-item h3 {
    font-size: var(--font-size-xl);
  }

  .zigzag-item p {
    font-size: var(--font-size-basePlus);
  }
}

.why-choose-section-title {
  font-size: var(--font-size-2xl);
}

.faq-question-container {
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 2em auto;
  transition: transform .3s, box-shadow .3s, color .3s;
  display: flex;
}

.faq-question-container:hover, .faq-question-container:hover summary:before {
  color: var(--color-secondary);
}

.faq-question-container h3 {
  font-size: var(--font-size-basePlus);
}

.faq-answer {
  font-family: var(--font-primary);
}

summary {
  cursor: pointer;
  font-size: var(--font-size-l);
  align-items: center;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style: none;
  display: flex;
  position: relative;
}

details[open] summary:before {
  content: "-";
}

summary:before {
  content: "+";
  font-size: var(--font-size-l);
  color: var(--text-color-purple);
  font-size: 20px;
  font-weight: 800;
  transition: color .3s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (width <= 750px) {
  .faq-question-container {
    max-width: 290px;
  }

  summary {
    font-size: var(--font-size-sm);
  }

  summary:before {
    font-size: var(--font-size-sm);
    margin-right: 8px;
    top: 10px;
  }
}

@media (width <= 375px) {
  summary:before {
    left: 10px;
  }

  .faq-answer {
    max-width: 260px;
  }
}

@media (width <= 320px) {
  .faq-question-container {
    max-width: 260px;
  }

  .faq-question-container h3 {
    font-size: var(--font-size-base);
  }

  .faq-answer {
    font-size: var(--font-size-sm);
    max-width: 210px;
  }

  summary:before {
    font-size: var(--font-size-base);
    left: 5px;
  }
}

@media (width <= 450px) {
  section {
    padding: 1rem;
  }

  ul.header-nav-list {
    gap: .6rem;
  }

  .newAppointmentForm, .adminLoginModal {
    max-width: 90vw;
    padding: 1.5rem;
  }

  .newAppointmentForm input, .newAppointmentForm select, .newAppointmentForm button, .adminLoginModal input, .adminLoginModal button {
    font-size: var(--font-size-sm);
    width: 100% !important;
  }

  .newAppointmentForm .error-message, .adminLoginModal .error-message {
    font-size: var(--font-size-xs);
    transform: translate(-50%, 650%) !important;
  }

  .adminLoginModal {
    width: 100%;
  }

  .company-container {
    flex-direction: column;
    display: flex;
  }

  .company-div {
    align-items: center;
    gap: .5rem;
  }

  .company-p {
    text-align: center;
  }

  .company-image-div {
    height: 25vh;
  }

  .main-h1 {
    font-size: var(--font-size-2xl);
    text-align: left;
    color: var(--button-color) !important;
  }

  .review-text {
    font-size: var(--font-size-base);
    padding: 0 2.5rem !important;
  }

  .zigzag-item.text {
    padding: 1.5rem !important;
  }

  .review-container {
    flex-flow: column wrap;
    justify-content: center;
    padding: 2rem 1rem !important;
  }

  .review-content {
    text-align: center !important;
  }

  .review-customer-photo {
    display: none;
  }

  .slider {
    min-width: 90vw !important;
    max-width: 95vw !important;
  }

  .slider-btn {
    padding: .6rem !important;
  }

  .slider-btn-left {
    left: .5rem !important;
  }

  .slider-btn-right {
    right: .5rem !important;
  }
}

@media (width <= 768px) {
  .admin-section {
    margin: 0 auto !important;
  }

  .admin-nav {
    max-width: 100%;
    height: auto;
    box-shadow: var(--box-shadow-light);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    position: static;
    background-color: #0000 !important;
  }

  .nav-button {
    text-align: center;
    flex: 1;
    margin: 0 .5rem;
    padding: .8rem .5rem;
    font-size: .875rem;
    position: relative;
  }

  .nav-button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  .nav-button:after {
    content: attr(data-tooltip);
    background-color: var(--color-primary);
    color: var(--text-color-whitesmoke);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    border-radius: .3rem;
    margin-top: .5rem;
    padding: .2rem .5rem;
    font-size: .75rem;
    transition: opacity .3s, transform .3s;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-button:hover:after {
    opacity: 1;
    transform: translateX(-50%)translateY(.2rem);
  }

  .newAppointmentForm, .adminLoginModal {
    padding: 2rem;
  }

  .newAppointmentForm input, .newAppointmentForm select, .newAppointmentForm button, .adminLoginModal input, .adminLoginModal button {
    font-size: var(--font-size-base);
    width: 100% !important;
  }

  .zigzag-row {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .zigzag-row .zigzag-item.text {
    order: 1;
  }

  .zigzag-row .zigzag-item.image {
    order: 2;
  }

  .slider {
    min-width: 70vw;
    max-width: 80vw;
  }

  .review-container {
    align-items: flex-start !important;
  }

  .admin-section table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  .admin-section thead {
    display: none;
  }

  .admin-section tbody {
    width: 100%;
    display: block;
  }

  .admin-section tbody tr {
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-light);
    text-align: left;
    background-color: #eef0f5;
    flex-wrap: wrap;
    margin-bottom: .5rem;
    padding: 1rem;
    display: flex;
  }

  .admin-section td {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    text-align: left;
    flex-wrap: wrap;
    flex: 1 0 50%;
    justify-content: space-between;
    padding: .5rem 1rem;
    display: flex;
  }

  .admin-section td:last-child {
    border-bottom: none;
  }

  .admin-section td:before {
    content: attr(data-label);
    text-transform: uppercase;
    color: var(--color-primary);
    margin-right: .5rem;
    font-weight: bold;
    display: inline-block;
  }

  .admin-section td {
    font-size: var(--font-size-sm);
    text-align: left;
  }

  .admin-section td:before {
    font-size: var(--font-size-xs);
    margin-bottom: .5rem;
  }

  .admin-section td:last-child:before {
    margin-bottom: 0;
  }

  .pagination-controls {
    gap: .1rem;
  }

  .pagination-btn svg {
    width: 2rem;
    height: 2rem;
  }

  .pagination-button {
    width: .2rem;
    height: .2rem;
    padding: .5rem;
    font-size: var(--font-size-xs) !important;
  }

  .pagination-button.active {
    transform: scale(1.2);
  }

  .pagination-info {
    font-size: .8rem;
  }
}

@media (width >= 1024px) {
  section {
    padding: 4rem;
  }

  ul.header-nav-list {
    gap: 3rem;
  }

  .company-container {
    padding: 2rem;
  }

  .newAppointmentForm, .adminLoginModal {
    gap: .8rem;
  }

  .newAppointmentForm input, .newAppointmentForm select, .newAppointmentForm button, .adminLoginModal input, .adminLoginModal button {
    font-size: var(--font-size-base);
  }

  .newAppointmentForm .error-message, .adminLoginModal .error-message {
    font-size: var(--font-size-sm);
    transform: translate(-50%, -450%);
  }

  .review-container {
    padding: 4rem 8rem !important;
  }

  .review-customer-photo {
    width: 8rem !important;
    height: 8rem !important;
  }

  .slider-btn {
    padding: .8rem !important;
  }
}

@media (width >= 1440px) {
  section {
    padding: 5rem;
  }

  ul.header-nav-list {
    gap: 5rem;
  }

  .slider {
    max-width: 50vw !important;
  }

  .slider-btn {
    padding: 1rem !important;
  }
}

.slider {
  background-color: var(--background-color-cta);
  border-radius: var(--border-radius-xl);
  min-width: 60vw;
  max-width: 75vw;
  height: 16rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 1s;
  display: flex;
  position: absolute;
  top: 0;
}

.slider-btn {
  z-index: 10;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  opacity: .8;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-family: inherit;
  font-size: 1.2rem;
  transition: transform .3s, background-color .3s, opacity .3s;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-btn-left {
  left: 1rem;
}

.slider-btn-right {
  right: 1rem;
}

.slider-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  opacity: 1;
  transition: transform .3s, background-color .3s, opacity .3s;
  transform: translateY(-50%)scale(1.1);
}

.slider-btn:focus {
  box-shadow: 0 0 5px var(--color-secondary);
  outline: none;
}

.customer-reviews p {
  margin-bottom: 2rem;
  font-style: italic;
}

.review-container {
  color: var(--text-color-gray);
  flex-direction: row-reverse;
  gap: 2rem;
  padding: 2rem 6rem;
  display: flex;
}

.review-customer-photo {
  border-radius: var(--border-radius-circle);
  object-fit: cover;
  flex-shrink: 1;
  width: 6rem;
  height: 6rem;
}

.review-content {
  text-align: left;
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.review-title {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.review-text {
  font-size: var(--font-size-base);
  font-style: italic;
  line-height: 1.6;
}

.dots {
  display: flex;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  opacity: .5;
  border-radius: var(--border-radius-circle);
  cursor: pointer;
  background-color: #dda15e;
  border: none;
  margin-right: 1rem;
  padding: .5rem;
  transition: all .5s;
}

.dot:last-child {
  margin: 0;
}

.slider:focus {
  outline: 3px solid var(--color-secondary);
}

.slider:active {
  box-shadow: var(--box-shadow-dark);
}

.dot-active {
  background-color: var(--color-secondary);
  opacity: 1;
  transform: scale(1.2);
}

.dots .dot {
  transition: all .3s;
}

.dots .dot:hover {
  background-color: var(--color-primary);
  opacity: .9;
  transform: scale(1.1);
}

@media (width <= 768px) {
  .review-title {
    font-size: var(--font-size-basePlus);
  }

  .review-text {
    font-size: var(--font-size-base);
    max-width: 320px;
  }
}

@media (width <= 425px) {
  .customer-reviews p {
    max-width: 250px;
    margin: .3em auto 1.8em;
  }

  .review-title {
    font-size: var(--font-size-base);
  }

  .review-text {
    font-size: var(--font-size-sm);
    max-width: 260px;
  }
}

@media (width <= 320px) {
  .customer-reviews p {
    max-width: 200px;
  }

  .review-title {
    font-size: var(--font-size-sm);
  }

  .review-text {
    font-size: var(--font-size-xs);
    max-width: 220px;
  }
}

.follow-main {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.follow-container {
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  display: flex;
}

.company-follow-section {
  align-content: space-between;
  max-width: 600px;
  display: flex;
}

.follow-logo {
  text-align: center;
  align-items: center;
}

.logo-container-1 {
  align-items: center;
  gap: 10px;
  display: flex;
}

.logo {
  width: auto;
  height: 50px;
}

.company, .follow {
  list-style-type: none;
}

.company-title, .follow-title {
  text-align: left;
  font-weight: 400;
  font-size: var(--font-size-base);
  margin-bottom: .3em;
}

.follow {
  margin-left: 7em;
}

.company li, .follow li {
  text-align: left;
  margin-bottom: 5px;
}

@media (width <= 768px) {
  .follow-container {
    flex-direction: column;
    align-items: center;
  }

  .company-follow-section {
    display: flex;
  }

  .logo-container-1 {
    justify-content: center;
    margin-bottom: 1.5em;
  }

  .follow {
    margin-left: 2em;
  }
}

footer {
  margin: 5em 0;
}

.footer-copyright {
  font-size: var(--font-size-sm);
  margin-bottom: 2em;
}

.footer-copyright, .footer-team {
  margin: 0;
  padding-bottom: .2em;
  display: block;
}

.footer-columns {
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  margin-top: 1.5em;
  display: flex;
}

footer .column {
  flex-direction: column;
  display: flex;
}

footer .person {
  border-radius: var(--border-radius-large);
  width: 100%;
  margin-bottom: .8em;
  padding: .3rem 1rem;
  font-weight: 700;
  transition: background-color .3s, transform .3s;
  display: flex;
}

footer .name {
  color: var(--color-primary);
  font-size: var(--font-size-sm);
}

footer .person:hover {
  background-color: var(--text-color-whitesmoke);
  transform: scale(1.05);
}

footer .icons {
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-left: 1em;
  display: flex;
}

@media (width <= 768px) {
  footer .column {
    padding: 1em;
  }
}

.linkedin, .github {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=index.4ee4707b.css.map */
