/* Header Styling */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  background-color: white;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 100px;
  padding-top: 20px;
  filter: contrast(1.2);
}

.list {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.header-nav-container {
  display: flex;
  justify-content: flex-end;
}
