/* Overlay for the modal */
.form-overlay,
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Form Title */
.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  /* color: #ffffff; */
  margin-bottom: 1.5rem;
}

/* Modal form styling */
.newAppointmentForm,
.adminLoginModal {
  background-color: var(--background-color-1);
  /* color: var(); */
  padding: 1.8rem;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  display: flex;
  overflow-y: scroll;
  gap: 0.1rem;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 5000;
  max-height: 80vh;
  padding-bottom: 2rem;
}

.newAppointmentForm::-webkit-scrollbar,
.adminLoginModal::-webkit-scrollbar {
  width: 8px;
}

.newAppointmentForm::-webkit-scrollbar-thumb,
.adminLoginModal::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.newAppointmentForm::-webkit-scrollbar-thumb:hover,
.adminLoginModal::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.newAppointmentForm,
.adminLoginModal {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Error message styling */
.error-message {
  color: red !important;
  font-weight: bold;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -300%) !important;
  text-align: center;
}

.newAppointmentForm input,
.newAppointmentForm select,
.newAppointmentForm option,
.adminLoginModal input,
.adminLoginModal select,
.adminLoginModal option {
  width: 100%;
  min-width: 60%;
  max-width: 80%;
  margin: 0 auto 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #333;
  color: #f1f3f5;
  transition: all 0.3s ease;
}

.newAppointmentForm button,
.adminLoginModal button {
  padding: 1rem;
  font-size: var(--font-size-l) !important;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.5rem;
  letter-spacing: var(--spacing-m);
}

.newAppointmentForm input:focus,
.newAppointmentForm select:focus,
.adminLoginModal input:focus,
.adminLoginModal select:focus {
  background-color: #444;
  outline: none;
}
