/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;


}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.cta-section {
  background-color: #242424;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  background-color: white;

}

.logo-container {
  display: flex;
  justify-content: flex-start;


}



.logo {
  width: 100px;
  padding-top: 20px;
}

.list {
  display: flex;
  justify-content: flex-end;

}

.main-h1 {
  color: rgba(255, 144, 0, 1);
  margin: 20px 0;
  padding: 20px 0;

}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.company-container {
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding: 0 80px;
  margin: 60px 0
}

.company-div {

  width: 400px;
  height: 166px;
}

.cta-section {
  background: rgba(26, 46, 80, 1);
  color: white;
  width: 100%;
  height: auto;
  margin: 40px;
  padding: 40px;
}

.cta-p {
  margin: 20px 0;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(255, 144, 0, 1);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Light Mode Styling */
@media (prefers-color-scheme: light) {
  html {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }


}

/* Form Styling */
#newAppointmentForm {
  background-color: teal;
  padding: 2em;
  border-radius: 10px;
  /* width: 100%; */
  max-width: 600px;
  /* Makes the form a bit more wide */
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

input,
select,
button {
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

input:focus,
select:focus {
  border-color: #646cff;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.is-invalid {
  border-color: red;
}

.is-invalid-label {
  color: red;
}

/* Memo add this code*/


.zigzag-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  width: 100%;
}

.zigzag-item {
  padding: 1.5rem;
  border-radius: 12px;
  transition: transform 0.3s;
}

.zigzag-item:hover {
  transform: translateY(-5px);
}