/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Reset */
/* ! GENERAL STYLES - REUSABLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #5d5a88;
}

p {
  color: #9795b5;
  filter: contrast(1.2);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 5px solid chocolate;

  /* font-size: 20px; */
  font-weight: 800;
  font-family: inherit;
  background-color: rgba(255, 144, 0, 1);
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  border: 2px solid rgba(255, 144, 0, 1);
  background-color: #f1f3f5;
  color: #5d5a88;
  transition: all 0.3s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

input,
select,
button {
  padding: 0.75em;
  border-radius: 5px;
  border: 5px solid #ff9000;
  font-size: 1em;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  background-color: white;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 100px;
  padding-top: 20px;
  filter: contrast(1.2);
}

.list {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.header-nav-container {
  display: flex;
  justify-content: flex-end;
}
/* ! COMPANY SECTION */
.company-container {
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding: 0 80px;
  margin: 60px 0;
}

.company-div {
  width: 400px;
  height: 166px;
}

.company-h3 {
  color: #4baca6;
}

/* ! CTA SECTION */

.cta-section {
  background-color: #242424;
  color: #fff;
}

.main-h1 {
  color: rgba(255, 144, 0, 1);
  margin: 20px 0;
  padding: 20px 0;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: #5d5a88;
}

.list-ul a:hover {
  color: orange;
  cursor: pointer;
}

.company-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  margin: 60px 0;
}

.company-div {
  width: 400px;
  margin-left: 5%;
}
.main-h1 {
  color: rgba(255, 144, 0, 1);
  margin: 20px 0;
  padding: 20px 0;
  filter: contrast(1.2);
  text-align: left;
  margin: 0;
  padding-bottom: 0;
}

.company-h3 {
  color: #5d5a88;
  font-size: 1.5rem;
  margin: 1em 0;
  text-align: left;
}

.company-p {
  max-width: 300px;
  text-align: left;
  margin-bottom: 0.8em;
  color: #9795b5;
  font-size: 1.1rem;
  line-height: 1.8rem;
  filter: contrast(1.2);
}

/* CALL TO ACTION (CTA) SECTION */

.cta-section {
  background: #9795b5;
  color: white;
  width: 100%;
  height: auto;
  margin: 40px;
  padding: 40px;
}

.cta-title,
.cta-subtitle {
  margin: auto;
  max-width: 550px;
}
.cta-title {
  color: #000;
  font-weight: 700;
}

.cta-btn,
.appointment-btn {
  border-radius: 40px;
  padding: 20px;
}

.cta-subtitle {
  color: #000;
  width: 70%;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(255, 144, 0, 1);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Light Mode Styling */
@media (prefers-color-scheme: light) {
  html {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

/* * FORM  */
/* Overlay for the modal */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Slightly darker background */
  backdrop-filter: blur(6px); /* Enhanced blur */
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Form Title */
.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

/* Modal form styling */
.newAppointmentForm {
  background-color: rgba(26, 46, 80, 1);
  padding: 1.8rem;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 90%;
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 5000;
  max-height: 90vh; /* Ensure it does not exceed the viewport height */
  overflow-y: auto; /* Make the form scrollable if content exceeds height */
  padding-bottom: 2rem; /* Add space for a possible scroll */

  @media (max-width: 375px) {
    .newAppointmentForm {
      height: 100vh; /* Full height of the screen */
      width: 100vw; /* Full width of the screen */
      max-height: none; /* Remove the max-height on smaller screens */
    }
  }
}
/* Prevent background scrolling when the modal is open */
body.modal-open {
  overflow: hidden; /* Prevent scrolling on the body */
}

/* Hidden state with opacity and visibility */
.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interaction */
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s; /* Smooth transition */
}

/* Visible state */
.visible {
  opacity: 1;
  pointer-events: auto; /* Allow interactions */
  visibility: visible;
  transition: opacity 0.5s ease; /* Smooth transition */
}

/* Input fields */
.newAppointmentForm input,
.newAppointmentForm select,
.newAppointmentForm option {
  width: 70%;
  min-width: 60%;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #333; /* Light gray for inputs */
  color: #f1f3f5; /* Darker text for readability */
  transition: all 0.3s ease;
}

.newAppointmentForm button {
  background-color: rgba(255, 144, 0, 1);
  color: white;
  border: none;

  font-size: 1.3rem;
  padding: 10px 20px;
  letter-spacing: 1.1;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.suggestions {
  border: 1px transparent #ccc;
  border-radius: 10px;
  color: #000;
  max-height: 150px;
  background-color: #213547;
  /* position: absolute; */
  width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  overflow-y: auto;
}
.suggestion-item {
  border-top: 0px solid #fff;
  padding: 8px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #f0f0f0;
}

/* Custom styles for the confirmation notification */
.notyf-confirmation {
  min-width: 80%;
  min-height: 50%;
  background-color: rgba(255, 144, 0, 1) !important;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 1rem; /* Adjust font size */
}

.notyf-confirmation .notyf__icon {
  font-size: 1rem;
  margin-right: 10px;
}

.notyf-confirmation .notyf__message {
  font-size: 3rem; /* Larger font size for the message */
  font-weight: 900;
  color: white;
}

input:focus,
select:focus {
  border-color: #646cff;
}
/* Custom Error Styling */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  font-weight: bold;
}

.is-invalid {
  border-color: red; /* Red border when invalid */
}

.is-label-invalid {
  color: red; /* Red text for labels with errors */
}

/* Tooltip for JustValidate */

.just-validate-error-label {
  background-color: yellow; /* Tooltip color */
  color: red; /* Tooltip text color */
}
/* Memo add this code*/
/* ZIG ZAG SECTION */
.zigzag-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.zigzag-item {
  color: #9795b5;
  padding: 1.5rem;
  border-radius: 12px;
  transition: transform 0.3s;
  text-align: left;
}

.zigzag-item h3 {
  font-size: 1.8rem;
  text-align: left;
}

.zigzag-item.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zigzag-item:hover {
  transform: translateY(-5px);
}

/* WHY CHOOSE SOLAR SECTION */

.choose-container {
  margin: 40px;
  padding: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .zigzag-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* Photo attributes */
/* Photos by Vivint Solar, and .... */
