.hidden {
  opacity: 0 !important;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.visible {
  opacity: 1 !important;
  pointer-events: auto;
  visibility: visible;
  transition: opacity 0.5s ease;
}

/* Suggestion styling */
#suggestions {
  margin: 0.1rem auto;
  border: 1px transparent #ccc;
  border-radius: 10px;
  color: #000;
  background-color: #213547;
  display: none;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
