/* Utility Classes */
.zigzag-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.zigzag-item {
  color: #9795b5;
  padding: 1.5rem;
  border-radius: 12px;
  transition: transform 0.3s;
  text-align: left;
}

.zigzag-item h3 {
  font-size: 1.8rem;
  text-align: left;
}

.zigzag-item.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.zigzag-item:hover {
  transform: translateY(-5px);
}
